/* Color scheme stolen from https://www.seas.upenn.edu/~oleh/ */
a {
color: #1772d0;
text-decoration:none;
}
.black_link {
color: Black;
text-decoration:none;
}
a:focus, a:hover {
color: #a723d3;
text-decoration:none;
}
/* toggling stuff */
.toggled:hover, .toggled:active, .toggled:link, .toggled:visited  {
color: black;
text-decoration:underline;
cursor: text;
}
body,td,th,tr,p,a {
font-family: 'Lato', Verdana, Helvetica, sans-serif;
/* font-family: 'Titillium Web', Verdana, Helvetica, sans-serif; */
font-size: 14px;
font-weight: 400;
/* this fixes text size on mobile */
/* text-size-adjust: 200%; */
/* text-size-adjust: none; */
}
oral {
  font-weight: bold;
  color: red;
}

bestpaper {
  font-weight: bold;
  background: linear-gradient(to right, red, orange, green, blue, indigo, violet);
  -webkit-background-clip: text;
  color: transparent;
}

spotlight {
  font-weight: bold;
  color: darkgreen;
}

heading {
  font-size: 22px;
}
papertitle {
  font-size: 14.5px;
  font-weight: 700
}
name {
  font-size: 30px;
}


.zero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 190px; */
}
.one
{
  width: 270px;
  height: 160px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.two
{
  width: 270px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.paper_img {
  /* width: 160px; */
  max-width: 100%;
}
/* @media only screen and (max-width: 590px) {
  .paper_title {
    text-align: center;
  }
} */
.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}
span.highlight {
  background-color: #ffffd0;
}
img {
  border-radius: 15px;
}
.table-like {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
}
hr
{
  border: 0;
  height: 1px;
  max-width: 800px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

ul {
  list-style: none;
  display: table;
}

li {
  display: table-row;
}

b {
  display: table-cell;
  font-size: 14.5px;
  padding-right: 0.5em;
}
